@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #000;
    color: #fff;
    width: 350px;
    /* Forces the popup to stay wide */
    min-height: 480px;
    /* Forces the popup to stay tall */
    margin: 0;
    /* Removes Chrome's default weird borders */
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 320px;
    /* Matches Tailwind's w-80 */
    background-color: #020617;
    /* Matches your sleek navy background */
}